<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>${cartoon.title}</title>
</head>
<body>
<a href="/cartoons">К списку мультфильмов</a>
<h2>${cartoon.title}</h2>
<img src="/IMG/video.jpg" align=”middle”>

</body>
</html>

<style>
    body {
        background: #7d7d7d;
        background-size: 400% 400%;
        height: 100vh;
        text-align: center;
        font: small-caps bold 1.2rem sans-serif;
        color: white;
    }

</style>
