td, th {
    border: 1px solid #777;
    color: white;
    align-content: center;
    margin: 10px auto;
}


 body {
     background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
     background-size: 400% 400%;
     animation: gradient 15s ease infinite;
     height: 100vh;
     text-align: center;
     vertical-align: middle;
     margin: 0;
     padding: 0;

 }

.button {
    cursor: pointer;
    background-color: transparent;
    height: 200px;
    width: 400px;
    color: white;
    font: small-caps bold 1.2rem sans-serif;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    user-select: none;
    padding: .5em 1em;
    line-height: 35;

}
a.button:hover {
    background: #23a6d5;

}
a.button:active {
    background: #183f59;
}


.title h1 {
    font: small-caps bold 1.2rem sans-serif;
    font-size: 4em;
    color: aliceblue;
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 35%;
    left: 50%;


}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

